*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4d4d2;
}

.calc{
    box-shadow: 10px 10px 5px #5b5b5b;
    background-color: #1d1b1c;
    padding: 20px;
    border-radius: 30px;
}

input{
    padding: 10px;
    width: 330px;
    margin: 10px;
    height: 100px;
    border-radius: 20px;
    background-color: #5b5b5b;
    border: none;
    text-align: right;
    font-size: xx-large;
    color: white;
}

button{
    color: black;
    font-weight: 500;
    border-radius: 50px;
    margin: 2px;
    height: 80px;
    width: 80px;
    border: none;
    font-size: x-large;
}

.right{
    background-color: #fe9503;
}

.left{
    background-color: #d4d4d2;
}